<div class="table-responsive">
  <table class="table" border="1">
  <thead>
    <tr>
      <h6>
      <th>Producto</th>
      <th>Valor</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
      </h6>
    </tr>
  </thead>
  <tbody>
    <% @detcarros.each do |order| %>
      <tr>
        <td> <%= order.producto.nombre %> </td>
        <td> <%= order.precio %></td>
        <td> <%= order.cantidad %> </td>
        <td> <%= order.precio * order.cantidad %></td>
      </tr>
    <% end %>
    <tr class="table-dark">
    <td></td>
    <td></td>
    <td><strong>Total de la compra:</strong></td>
    <td><strong><%= @total %></strong></td>
    </tr>
  </tbody>
  </table>
  <%= link_to 'Limpiar carro', clean_detcarros_path, class: 'btn btn-outline-danger'  %>
  <%= link_to 'Confirmar Compra', pre_pay_billings_path, class: 'btn btn-success float-right' %>
</div>
