<h1>carro compra</h1>
<table class="table">
  <% @detcarros.each do |detalle| %>
  <tr>
  <td>
 <%= detalle.producto.nombre%>
 <%= detalle.producto.precio%>

      <img src="<%=  (detalle.producto.photo)%>" alt="" class="foto">
 <%= detalle.cantidad%>
  </td>
  </tr>>
  <% end %>
<tr>
  <td> total:  </td>
  <td>
      <%= @detcarros.map {|detalle|
          detalle.producto.precio}.sum
      %>

  </td>

</tr>


</table>

<button type="button" class="btn btn-warning">Pagar</button>
