<tr>
  <td><%= contact.name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.subject %></td>
  <td><%= contact.mensagge %></td>
  <td><%= link_to 'Show', contact %></td>
  <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
  <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
</tr>
