<%= form_with(model: campagna, local: true) do |form| %>
  <% if campagna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campagna.errors.count, "error") %> prohibited this campagna from being saved:</h2>

      <ul>
      <% campagna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :campagna_nombre %>
  </div>

  <div class="field">
    <%= form.label :pagos_id %>
    <%= form.text_field :pagos_id, id: :campagna_pagos_id %>
  </div>

  <div class="field">
    <%= form.label :meta_id %>
    <%= form.text_field :meta_id, id: :campagna_meta_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
