<p id="notice"><%= notice %></p>

<h1>Campagnas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pagos</th>
      <th>Meta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campagnas.each do |campagna| %>
      <tr>
        <td><%= campagna.nombre %></td>
        <td><%= campagna.pagos %></td>
        <td><%= campagna.meta %></td>
        <td><%= link_to 'Show', campagna %></td>
        <td><%= link_to 'Edit', edit_campagna_path(campagna) %></td>
        <td><%= link_to 'Destroy', campagna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campagna', new_campagna_path %>
