<p id="notice"><%= notice %></p>

<h5>Metas</h5>
<h5>Metas</h5>
<h5>Metas</h5>
<h5>Metas</h5>
<table class="table">
  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.descripcion %></td>
        <td><%= goal.fecinicio %></td>
        <td><%= goal.fecfin %></td>
        <td><%= goal.cantmeta %></td>
        <td><%= goal.faltameta %></td>
        <td><%= goal.estado %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Meta', new_goal_path %>
