<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @goal.descripcion %>
</p>

<p>
  <strong>Fecinicio:</strong>
  <%= @goal.fecinicio %>
</p>

<p>
  <strong>Fecfin:</strong>
  <%= @goal.fecfin %>
</p>

<p>
  <strong>Cantmeta:</strong>
  <%= @goal.cantmeta %>
</p>

<p>
  <strong>Faltameta:</strong>
  <%= @goal.faltameta %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @goal.estado %>
</p>



<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
