<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @goal.descripcion %>
</p>

<p>
  <strong>Fecha Inicio:</strong>
  <%= @goal.fecinicio %>
</p>

<p>
  <strong>Fecha Fin:</strong>
  <%= @goal.fecfin %>
</p>

<p>
  <strong>Cantidad Meta:</strong>
  <%= @goal.cantmeta %>
</p>

<p>
  <strong>Falta Meta:</strong>
  <%= @goal.faltameta %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @goal.estado %>
</p>



<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
